<div class="page-header">
  <div style="float:right">
    <select (change)="translateService.use($event.target.value)">
      <option value="es">Español</option>
      <option value="en">Inglés</option>
      <option value="fr">Francés</option>
    </select>
  </div>
</div>
<div class="container">
  <div class="page-header">
    <div class="container">
      <h1>Ruteo Simple</h1>
      <div class="navlinks">
        <a [routerLink]="['/home']">Home</a>
        <a [routerLink]="['/destino']"> Destino</a>
      </div>
    </div>
  </div>
  <div class="row">
    <h1>
      {{title}} 
      <b [innerHtml]="'HOLA' | translate">
      </b>
    </h1>
  </div>
  <router-outlet></router-outlet>
  <!-- <app-lista-destinos></app-lista-destinos> -->
</div>
<hr class="mb-5">
Fecha: {{time | async}}